doctype html
html
  head 
    title Webfocus - #{configuration['name']}

    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="/css/style.css")

    script(src="/webfocus-static/js/fetch.js")
    
    block head
  body
    header
      a#brand(href="/")= configuration.name
      nav
        ul
          - let isCurr = (c) => componentbaseurl ? componentbaseurl.indexOf(c.urlname) >= 0 : false
          mixin nava(component) 
            - let klass = isCurr(component) ? 'active' : ''
            li(class=klass): a(href=`/${component.urlname}/`, class=klass)= component.name
          - for(let path of configuration.components)
            +nava(getComponent(path))
    main.container
      block main
    footer
      p Webfocus - !{configuration.name}